@using UniversityManagement.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Save Teacher";
    List<Department> departments = ViewBag.department;
    List<Designation> designations = ViewBag.designation;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveTeacher</title>
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    </style>

</head>
<body>
    <div>
        <h3>@ViewBag.message</h3>
        <form method="POST" id="SaveTeacher">
            <div class="login-form">
                <h3 class="text-center">Teacher Information</h3>


                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="name" name="TeacherName" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-md-8 ">
                        <textarea id="address" rows="3" name="TeacherAddress" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" id="email" name="TeacherEmail" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label for="number">Contact No.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="number" name="TeacherNumber" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label>Designation</label>
                    </div>
                    <div class="col-md-8">
                        <select id="designation" name="TeacherDesigId" class="form-control">
                            <option value="">---------Select---------</option>
                            @foreach (Designation aDesignation in designations)
                            {
                                <option value="@aDesignation.DesignationId">@aDesignation.DesignationName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4 text-right">

                        <label>Department</label>
                    </div>
                    <div class="col-md-8">
                        <select id="department" name="TeacherDepId" class="form-control">
                            <option value="">---------Select---------</option>
                            @foreach (Department aDepartment in departments)
                            {
                                <option value="@aDepartment.Id">@aDepartment.Name</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-4 text-right">
                        <label for="credit">Credit to be taken</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="credit" name="TeacherCredit" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="submit" value="Save" class="btn btn-info" />
                    </div>
                </div>




            </div>

        </form>
    </div>


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $("#SaveTeacher").validate({
            rules: {
                name: "required",
                address: "required",


                email: {
                    required: true,
                    email: true,

                },
                number: {
                    required: true,

                },
                department: "required",

                designation: {
                    required: true
                },
                credit: {
                    required: true,
                    min: 1

                },

            },
            messages: {
                name: "Please Enter a Teacher Name",
                address: "Please Enter a Address",


                email: {
                    required: "Please enter a Email address",

                    email: "Please enter a valid email address",

                },
                number: {
                    required: "Please Enter a number",

                },
                department: "Please Select a Department",

                designation: {
                    required: "Please Select a Designation",
                },
                credit: {
                    required: "Please Enter a Credit",
                    min: "Please Enter a Positive Value"
                }
            }
        });


    </script>
</body>
</html>
